<div class="movies-and-shows-feature">
    <div class="query-mode">

    </div>

    <div class="forms">

        <form (submit)="onSearchSubmit($event)">
            <mat-form-field>
                <input matInput [formField]="moviesAndShowsService.searchForm.searchMedia">
            </mat-form-field>

            <button matButton="filled" type="submit">submit</button>

            <mat-button-toggle-group [formField]="moviesAndShowsService.searchForm.multiFilter" hideSingleSelectionIndicator="true">
                <mat-button-toggle [value]="multiFilterMovie">Movie</mat-button-toggle>
                <mat-button-toggle [value]="multiFilterMovieAndTV">Movie & TV</mat-button-toggle>
                <mat-button-toggle [value]="multiFilterTV">TV</mat-button-toggle>
            </mat-button-toggle-group>
        <!-- <button matButton="filled" (click)="moviesAndShowsService.searchMovieFresh()">Movie</button>
        <button matButton="filled" (click)="moviesAndShowsService.searchTVFresh()">TV</button>
        <button matButton="filled" (click)="moviesAndShowsService.searchMovieAndTVFresh()">Movie And TV</button> -->

        </form>

        <!-- <div>{{a()}}</div> -->

        <div>discover</div>
        <button matButton="filled" (click)="moviesAndShowsService.discoverMovieFresh()">DiscoverMovie</button>
        <button matButton="filled" (click)="moviesAndShowsService.discoverTVFresh()">DiscoverTV</button>

    </div>
    <div class="media-cards">
        @for (result of moviesAndShowsService.combinedLoadedMediaResults(); track (result.media_type + '_' + result.id)) {
            <mat-card  matRipple [matTooltip]="result.title_name" matTooltipTouchGestures="off">
                <img class="recipe-image" matCardImage [src]="result.poster_path">
                <mat-card-content>
                    <p>{{ result.title_name ? result.title_name : result.original_title_name }}</p>
                    <p>
                        @if (result.release_date){
                            {{result.release_date | date: 'yyyy'}} | 
                        }
                        {{ result.media_type }}</p>
                    <p>
                        @if (result.media_type === mediaType.Movie) {
                            {{moviesAndShowsService.movieGenreNamesStringFromIdList(result.genre_ids) ? moviesAndShowsService.movieGenreNamesStringFromIdList(result.genre_ids) : 'N/A'}}
                        }
                        @else if (result.media_type === mediaType.TV) {
                            {{moviesAndShowsService.TVGenreNamesStringFromIdList(result.genre_ids) ? moviesAndShowsService.TVGenreNamesStringFromIdList(result.genre_ids) : 'N/A'}}
                        }
                    </p>
                </mat-card-content>
            </mat-card>
        }
        <div class="bottom-sentinel" #bottomSentinel>
            @if(moviesAndShowsService.combinedLoadedMediaResults().length > 0 && moviesAndShowsService.existsMorePages()) {
                <mat-spinner></mat-spinner>
            }
        </div>
    </div>
        
</div>

